body {
  background-color: #1C4649;
  background-image:  linear-gradient(top, #1C4649, #1F2833);
}

.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-right:  1px solid #2C3531; 
  text-align: center;
}

.menuOptions {
  color: #2C3531;
  display: inline;
}

.menulinks{
  display:  inline-block;
  padding: 12px; 
  background-color: #FFCB9A; 
  border-radius: 2px;  
  text-decoration: none;
}

.sidebar {
  list-style-type: none;
  margin:  0;
  padding: 0;
  width: 100px;
  position:  fixed;  
  background-color: #FFCB9A;
  overflow:  auto;
  border-radius: 8px  ;
}

.filters {
  display: block;
  color: #2C3531;
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #2C3531;
}

.menulinks:hover {
  background-color: #D9B08C
}

.filters:hover {
  background-color: #D9B08C
}

h1 {
  color:  #D9B08C;
}

h2 {
  margin-top: 50;
  margin-left: 150;
  color:  #D9B08C;

}

.boxes {
  margin-top:  20;
  margin-left: 150;
  float:   left;
  display:  block;
  width:   20%;
  height:  350px;
  width:   200px;
  background-color: #FFCB9A;
  border-radius: 8px;
  padding:  5px;
  color:  #2C3531;
}

.boxes:hover {
  background-color: #D9B08C
}